

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


$fontFamily: 'Roboto', sans-serif;


$textColor: #201a1a;
$cardColor: #206145;
$borderColor: #010135;
$insideColor: #e1e1e1;
$textShadowColor: #3378b5;
$hoverTextColor: #87a886;
$hoverButtonColor: #4b4bb6;
$trashHoverColor: #ff0000;
$editHoverColor: #5c5cff;
